@page
@model LojaDeAlgumaCoisa.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="row justify-content-md-center">
    <div class="col-8 p-5">
        
        <h3>Bem-vindo à nossa paixão sobre rodas na <img src="~/images/kombiLado.png" style="max-width: 8%" />Volksvendor</h3>
        <p class="justificar">
            Fundada em 2003 por Carlos Guimarães, um entusiasta fervoroso dos icônicos automóveis
            Volkswagen, a nossa loja é mais do que um destino para a compra e venda de carros - somos 
            um legado de amor pela história automotiva. Desde a nossa criação, nos dedicamos a 
            preservar a beleza e a autenticidade dos veículos Volkswagen até o ano de 1995.</p>
        <img src="~/images/fusca.jpg" class="img-fluid float-end p-3" style="max-width: 50%" />
        <p class="justificar">
            Carlos Guimarães, o visionário por trás da nossa jornada, é movido por uma paixão inigualável
            por carros VW antigos. Sua visão era criar um espaço onde admiradores e colecionadores 
            pudessem encontrar verdadeiras relíquias sobre rodas, repletas de história e charme 
            intemporal.</p>
        
        <p class="justificar">
            Em nosso showroom, você descobrirá uma seleção cuidadosamente curada de modelos
            clássicos da Volkswagen que marcaram época até 1995. Cada veículo conta sua própria 
            história, refletindo a elegância atemporal e a engenharia inovadora que tornaram a 
            Volkswagen uma lenda nas estradas.</p>
        <p class="justificar">
            Não somos apenas vendedores de carros; somos contadores de histórias sobre rodas. Nosso
            compromisso vai além de simples transações comerciais - buscamos compartilhar a paixão pela
            cultura automotiva, promovendo um ambiente onde os entusiastas podem se conectar, trocar
            experiências e celebrar a herança automotiva da Volkswagen.
        </p>
        <p class="justificar">
            Na Volksvendor, não apenas oferecemos veículos, mas proporcionamos uma experiência que
            transcende a compra de um automóvel. Cada carro em nosso showroom é selecionado com 
           dedicação, garantindo não apenas a qualidade, mas também a autenticidade que define a 
           marca Volkswagen.</p>

        <p class="justificar">
            Junte-se a nós nesta jornada emocionante pelo passado automotivo, onde cada veículo é mais
            do que uma máquina - é uma obra-prima sobre rodas, uma peça viva da história automotiva. 
            Sinta-se à vontade para explorar nosso inventário e descobrir o encanto atemporal dos carros 
            Volkswagen clássicos. Seja bem-vindo à Volksvendor, onde a paixão por carros transcende 
            gerações.</p>
    </div>
</div>