@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row justify-content-md-center">
    <div class="col-8 p-5">
        <h3>Privacidade na VolksVendor: Compromisso com a Segurança dos seus Dados</h3>
        <p class="justificar">
            Bem-vindo à VolksVendor, sua referência confiável para apaixonados por carros antigos! Na
            busca pela excelência em todos os aspectos do nosso serviço, entendemos a importância da 
            privacidade dos nossos clientes. Este documento destaca nosso compromisso em proteger as 
            informações pessoais que você compartilha conosco.</p>
        <h5>Coleta e Uso Responsável de Informações:</h5>
        <p class="justificar">
            Ao interagir com nosso site, podemos coletar informações pessoais, como nome, endereço de 
            e-mail, número de telefone e preferências de veículos. Esses dados são coletados de forma 
            ética e usados exclusivamente para melhorar sua experiência na VolksVendor. Comprometemo-nos
            a não compartilhar suas informações com terceiros sem o seu consentimento expresso.
        </p>
        <h5>Segurança de Dados:</h5> 
        <p class="justificar">
            Utilizamos medidas de segurança avançadas para proteger suas informações contra acessos
            não autorizados, alterações, divulgações ou destruição não autorizada. Nossa equipe está 
            constantemente atualizando os protocolos de segurança para garantir que seus dados estejam 
            seguros.</p>
        <h5>Cookies e Tecnologias de Rastreamento:</h5>
        <p class="justificar">
            Nosso site pode utilizar cookies e outras tecnologias de rastreamento para melhorar a
            funcionalidade e personalização. Essas ferramentas visam proporcionar uma experiência mais 
            eficiente e adaptada às suas preferências. Você tem o controle total sobre o uso de cookies, 
            podendo configurar seu navegador para aceitar ou recusar esses arquivos.</p>
        <h5>Comunicações Personalizadas:</h5> 
        <p class="justificar">
            Ao se cadastrar na VolksVendor, podemos enviar-lhe informações sobre novos veículos,
            eventos especiais e ofertas exclusivas. Essas comunicações são personalizadas para atender aos 
            seus interesses e podem ser gerenciadas a qualquer momento através das configurações 
            da sua conta.</p>
        <h5>Atualizações na Política de Privacidade:</h5> 
        <p class="justificar">
            Nossa política de privacidade pode ser revisada periodicamente para garantir que esteja
            alinhada com as melhores práticas e regulamentações de privacidade. Quaisquer alterações 
            significativas serão comunicadas de forma transparente, e recomendamos que você reveja 
            regularmente nossa política para estar atualizado.</p>
        <h5>Contato:</h5>
        <p class="justificar">
            Se tiver dúvidas sobre nossa política de privacidade ou o tratamento de suas informações,
            entre em contato conosco através do e-mail privacidade@volksvendor.com. Estamos aqui para 
            garantir que sua experiência conosco seja segura e satisfatória.</p>
        <p class="justificar">
            class="justificar"Na VolksVendor, sua privacidade é tão valiosa quanto os carros clássicos que amamos.
            Agradecemos a confiança que você deposita em nós e estamos dedicados a manter a 
            integridade e segurança dos seus dados.</p>
    </div>
</div>